@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.makeAdmin-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Выравниваем элементы по левому краю */
    gap: 15px; /* Отступ между элементами */
    padding: 20px; /* Отступ внутри контейнера */
    font-family: 'Poppins', sans-serif;
}

.makeAdmin-input-container, .makeAdmin-button-container {
    width: 100%; /* Занимает всю ширину контейнера */
}

.makeAdmin-input {
    width: 100%; /* Занимает всю ширину контейнера */
    padding: 10px; /* Отступ внутри input */
    box-sizing: border-box; /* Учитывает padding в ширине */
}

.makeAdmin-button {
    padding: 10px 20px; /* Отступы внутри кнопки */
    cursor: pointer; /* Указатель мыши в виде руки при наведении */
    background-color: #007bff; /* Цвет фона */
    color: white; /* Цвет текста */
    border: none; /* Убираем границу */
    border-radius: 4px; /* Сглаживаем углы */
    transition: background-color 0.3s; /* Плавное изменение цвета */
}

.makeAdmin-button:hover {
    background-color: #0056b3; /* Изменяем цвет при наведении */
}