Backend/src/HilVideo.Domain/bin/
Backend/src/HilVideo.Domain/obj/
Backend/src/HilVideo.Infrastructure/bin/
Backend/src/HilVideo.Infrastructure/obj/
Backend/src/HilVideo.API/bin/
Backend/src/HilVideo.API/obj/
Backend/src/HilVideo.API/.idea/
Backend/src/HilVideo.API/.vs/
Diplom.drawio/
frontend/node_modules/
frontend/.idea/
frontend/README.md/
frontend/src/Components/Test/
frontend/cert/
data/