@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.MovieCard-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 250px;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 10px 10px 10px 10px;
    background-color: #ffffff;
}

.MovieCard-wrapper:hover{
    background-color: #ce8219;
}

.MovieCard-wrapper:hover .MovieCard-poster img{
    transform: scale(1.02);
    transition: all 0.3s ease;
}



.MovieCard-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
}

.MovieCard-poster img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}

.MovieCard-movieName {
    margin-bottom: 5px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

.MovieCard-movieDescription {
    margin-top: 5px;
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 14px;
    margin-bottom: 10px;
}

.MovieCard-movieType,
.MovieCard-directors,
.MovieCard-genres {
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 14px;
}