@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.book-page-wrapper{
    color: #cccccc;
    font-family: 'poppins', sans-serif;
    margin-left: 10px;
}

.bookpage-content-wrapper{
    display: flex;
    flex-direction: row;
}

.book-description,
.authors-wrapper,
.bookgenres-wrapper {
    margin-bottom: 10px;
}

.book-name{
    margin-bottom: 10px;
}
.button-wrapper{
    display: flex;
    flex-direction: row;
}


.about-wrapper{
    margin-left: 20px;
}

.description-wrapper{
    margin-bottom: 50px;
}

.readbook-wrapper{
    display: flex;
    justify-content: center;
}

.readbook-button{
    width: 100px;
    height: 30px;
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    transition: all 0.5s ease;
}

.readbook-button:hover{
    color: #e7e6e6;
    transition: all 0.5s ease;
}