.MainBooksPage-wrapper {
    height: 100vh;
    width: 100vw;
    padding: 0 !important; /* Убираем отступы */
    margin: 0 !important; /* Убираем отступы */
    overflow: hidden; /* Добавляем, чтобы избежать проблем с отступами */
    background-color: #16161d;
}

.MainBooksPage-content {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}