.navigationButton{
    background: none;
    border: none;
    color: #969600;
    font-size: 18px;
    transition: 1s linear;
    margin: 0 0 0 10px;
}

.navigationButton:hover{
    color: #FFFF36;
    transition: 1s linear;
}